:root {
  --page-background: rgb(254,253,251);
  --just-white: #fff;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--page-background);
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}

.hero-container {
  display: flex;
  justify-content: center;
}

.hero-container img {
  max-width: 320px;
  max-height: 320px;
}

.navbar-container {
  position: absolute;
}

.burguer-menu {
  color: black;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.menu-container {
  display: inline-block;
  position: fixed;
  z-index:2
}

.burguer-menu__list {
  padding: 10px;
}
.burguer-menu__list a {
  text-decoration: none;
  font-size: 3rem;
}

.large-menu {
  display: none;
}

.footer-container {
  display: block;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-top: 20px;
}

.footer-container h3 {
  font-size: 2rem;
  text-align: center;
}
.footer-container p {
  font-size: 1.4rem;
}

.networks__logo-container i {
  color: black;
  font-size: 3rem;
  margin: 0 20px;
  margin-top: 10px;
}






